    <!-- Main content -->
    <section class="content">

<div class="login-box">
  <div class="login-box-body">
    <p class="login-box-msg">Activate Your Account To Procced</p>

    <form id="f-activate">
      <span id="token-error" style="display:none" class="label label-danger">Error</span>
      <div class="form-group has-feedback">
        <input id="token" type="text" class="form-control" placeholder="Token">
        <i class="fa fa-key form-control-feedback" aria-hidden="true"></i>
      </div>
      <div class="row">
          <button type="submit" class="btn btn-primary btn-flat pull-right" style="margin-right: 16px;">Activate <i class="fa fa-sign-in" aria-hidden="true"></i></button>
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

    </section>
    <!-- /.content -->