    <!-- Main content -->
    <section class="content">

<div class="login-box">
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form id="f-login">
      <span id="username-error" style="display:none" class="label label-danger">Error</span>
      <div class="form-group has-feedback">
        <input id="username" type="text" class="form-control" placeholder="Username">
        <i class="fa fa-user form-control-feedback" aria-hidden="true"></i>
      </div>
      <span id="password-error" style="display:none" class="label label-danger">Error</span>
      <div class="form-group has-feedback">
        <input id="password" type="password" class="form-control" placeholder="Password">
        <i class="fa fa-key form-control-feedback" aria-hidden="true"></i>
      </div>
      <div class="row">
          <button type="submit" class="btn btn-primary btn-flat pull-right" style="margin-right: 16px;">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></button>
      </div>
    </form>

    <!--
    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>
    -->

    <a href="/">I forgot my password</a><br>
    <a href="/register/" class="text-center">Register a new membership</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

    </section>
    <!-- /.content -->