    <!-- Main content -->
    <section class="content">

<div class="register-box">

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    <form id="f-register">
      <span id="username-error" style="display:none" class="label label-danger">Error</span>
      <div class="form-group has-feedback">
        <input id="username" type="text" class="form-control" placeholder="Username">
        <i class="fa fa-user form-control-feedback" aria-hidden="true"></i>
      </div>
      <span id="email-error" style="display:none" class="label label-danger">Error</span>
      <div class="form-group has-feedback">
        <input id="email" type="email" class="form-control" placeholder="Email">
        <i class="fa fa-envelope-o form-control-feedback" aria-hidden="true"></i>
      </div>
      <span id="password-error" style="display:none" class="label label-danger">Error</span>
      <div class="form-group has-feedback">
        <input id="password" type="password" class="form-control" placeholder="Password">
        <i class="fa fa-key form-control-feedback" aria-hidden="true"></i>
      </div>
      <span id="password_confirm-error" style="display:none" class="label label-danger">Error</span>
      <div class="form-group has-feedback">
        <input id="password_confirm" type="password" class="form-control" placeholder="Retype password">
        <i class="fa fa-key form-control-feedback" aria-hidden="true"></i>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <span id="terms-error" style="display:none" class="label label-danger">Accept the terms</span>
          <div class="checkbox">
            <label>
              <input id="terms" type="checkbox"> I agree to the <a href="/about/terms/">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register <i class="fa fa-sign-in" aria-hidden="true"></i></button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!--
    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a>
    </div>
    -->

    <a href="/login/" class="text-center">I already have a membership</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->


    </section>
    <!-- /.content -->